.Container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-color: #4d1c13;
}
/* this is styling all of the children
nested in the container
(*) is called the wild card or universal selector */
.Container > * {
    padding: 60px;
    margin: 20px;
    flex: 1 100%;
    border-radius: 50px;
   
}

.Container .header {
    border: 10px solid red;
}


.header {
    background: lime;
    
}

.main {
    text-align: left;
    background: deepskyblue;
    height: 300px;
    font-size: 24px;
    /* flex is shorthand for flex-grow, flex-shrink, flex-basis */
    flex: 1 400px ;
    /* default order is zero */
    order: 2;
}

.aside {
    flex: 1;
    
}
.aside1 {
    background: gold;
    order:1;   
}

.aside2 {
    background: hotpink;
    order:2;
}

.footer {
    background: lightgreen;
    height: 80px;
    order: 4;
    background-image: url(images/Sketching_Basics_for_Kids_-_Blog_600x.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}



 ul{
    
    list-style-type: none;
    
}

li {
    background-size: 20px;
}



    li::before {
        content: '';
        display: inline-block;
        margin-right: 10px;

        /* Height of the list image*/
        height: 70px;

        /* Width of the list image*/
        width: 60px;
        background-image: url(images/Sketching_Basics_for_Kids_-_Blog_600x.jpg);
        background-size: contain;
        border-radius: 10px;
    }
   


img {

}


/* ::marker {
    height: 20px;
    width:20px;
} */

 










 @media all and (min-width: 600px){
    .main{
        background: rgb(214, 9, 44);
        font-size: 20px;
    }

    .aside1{
        font-family: fantasy;
    }

    .aside2{
        border: 10px solid black;
       order: 1;
    } 
    
    .footer {
        padding: 10px;
    }
} 

 @media all and (min-width: 600px){
    .aside{
        flex: 1;
    }

}  

