table {
    border-collapse: collapse;
    width: 100vw;
    height: 100vh;
    background-color: rgba(108, 149, 162, 0.676);
    margin-left: 70px;
     
  
}
th, td {
    font-size:2rem ;
}

td {
   border: 1px solid rgb(83, 72, 0);
    height: 13%;
    width: 13%;
    vertical-align: top;
    color: blue;
}

.weekend {
    color:green
}

.sunday {
   padding-top: 100px;
    
}


