#parent {
    background-color: yellow;
    height: 500px;
    width:500px;
    position: relative;
}

.red {
    background-color: red;
    width: 100px;
    height:100px;
}

.blue {
    background-color: blue;
    width: 100px;
    height:100px;
    position: absolute;
    bottom: 20px;
    
}
   


.green {
    background-color: green;
    width: 100px;
    height:100px;
}