/* flex container */
main {
   text-align: justify;
    font-family: monospace;
    padding: 5% 10%;

}

h1,h2,h3{
    text-align: center;
}

img {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
    
    
}

section {

    font-family: cursive;

}

body {
    background-color: rgb(254, 29, 172);
    color: black;
}

a:hover {
    float: right;
    cursor: grab;
}

@media screen and (max-width:600px ) {
    img {
        float: left;
        margin-right:7.5px;
    }

    main {
        text-align: center;
         font-family: monospace;
         padding: 5% 10%;
     
     }
}