body {
    background-image: url(images/dental-kids-medical-office-logo-design-image-vector-27248851.jpg);
}
.title {
    background-image: url(images/the-doctors-office-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    margin-bottom: 5em;
    padding: 90px;
    border: 2px solid black;
    text-align: center;

}

h1 {
    margin:0;
    
}

form {
    background-color: hsl(139, 61%, 45%)
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 50%;
    border: 5px solid black;
    

}

fieldset {
    padding: 50px 10px  ;
}

/* .textarea {
    height: 4rem;
    width: 16rem;


} */