body {
    margin: 0;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
  }

  .font-effect-neon {
    text-shadow:5px 5px 20px  blue;
  }
.container {
    background: #000;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows:75% 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "about-me contact-me"
    "section section"
    "footer footer";
      
}

.box1 {
    grid-area: nav;
    background-color: rgba(121, 31, 218, 0.904);
    background-size: contain;
    background-repeat: no-repeat;
 
}

.box2 {
    grid-area: header;
    background-color: rgb(251, 255, 0);
}

.box3{
    grid-area: about-me;
    background-color: rgb(255, 0, 162);
    
}

.box4 {
    grid-area: contact-me;
    background-color: rgb(0, 255, 26);
  
}

.box5 {
    grid-area: section;
    background-color: rgb(0, 255, 213);
   
}

.box6 {
    grid-area: footer;
    background-color: blue;
   
}
